<div class="container devise-frame">  
  <div class="card text-white bg-info text-center col-md-6 offset-md-3 justify-content-end">
    <div class="card-header">
      <h2>修改密碼</h2>
    </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :name, "名稱" %><br />
              <%= f.email_field :name, autofocus: true, autocomplete: "name" %>
            </div>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="form-group">
              <%= f.label :password, "密碼" %><br />
              <%= f.password_field :password, autocomplete: "off" %>
              <% if @minimum_password_length %>
                <br />
                <em>(至少<%= @minimum_password_length %>位數字或英文)</em>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "密碼確認" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.label :current_password, "目前的密碼" %><br />
              <%= f.password_field :current_password, autocomplete: "off" %><br />
              <i>(需要目前的密碼確認修改密碼)</i>
            </div>
              <%= f.submit "更新密碼", class: "btn btn-primary btn-lg active" %>
          <% end %>
      <%= link_to "Back", :back, class: "badge badge-light" %>
    </div>
  </div>
</div>
