<div class="bg-img">
  <!--modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="devise-frame">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-4 p-2">
            <div id="sign-up-block">
              <div class="sign-in-title text-center">
                <h4><%= t('.sign_up') %></h4>
              </div>
              <div class="devise-zone black-box">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.label :name, t("user.name") %><br/>
                  <%= f.text_field :name, autofocus: true %>
                </div>
                <%=t("user.man")%><%= f.radio_button :gender, "male" %>
                <%=t("user.women")%><%= f.radio_button :gender, "female" %>
                <div class="form-group">
                  <%= f.label :email %><br/>
                  <%= f.email_field :email, autocomplete: "email" %>
                </div>
                <div class="form-group">
                  <%= f.label :password ,t("user.password")%><br/>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %><br/>
                  <% if @minimum_password_length %>
                    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
                  <% end %><br/>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation ,t("user.password confirmation")%><br/>
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
                <%= f.submit t('.sign_up'), class: "btn btn-style w-100" %>
              <% end %>
              <br/>
              <hr color="white">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript">

$(document).ready(function () {
  $('#loginModal').modal();
});
</script>
