<div class="container">
  <div class="row">
    <div class="content">
      <div class="title">
        <h3><%=@event.title%></h3>
        <%= link_to t("schedule.new.search"), search_event_schedules_path(@event.id) ,method: :get, class: "ph-button ph-btn-grey btn-sm"%>
      </div>
      <!--<div class="share-btn"> <button type="button" class="btn btn-primary"><%=t("schedule.new.shar_event")%></button> </div>-->
<br>
    </div>


  </div>


<!--redesign blobk -->
<div class="row">
  <div class="col-8">
    <%= select_tag 'category', options_for_select(@categories.collect{ |u| [u.name, u.id] }),{class: "form-control"}%>
    <div id="custom-search-input">
        <div class="input-group ">
          <input id="content" type="text" class="form-control input-lg" placeholder="Search" />
          <span class="input-group-btn" onclick="searchSpot()">
            <%= octicon "search" ,:height => 24, :class => "right left" %>
          </span>
        </div>
      </div>
  <div class="detail-contet">
    <div id="detail-input">
      <!--input form-->
    </div>
  </div>
   <div class="search-type">
    

      <%= select_tag 'rating', options_for_select(["1", "2", "3", "4"]),{class: "form-control"}%>
    </div>
     
     <div class="spot-list"> 
       <table class="my-table table table-hover">

                <tbody id="spots">
                </tbody>
              </table> 
     </div>
  <div class="map"></div>


  </div>
  <div class="col-4">
     


  </div>
</div>


 



<!-- redesign end-->
  <div class="row">
    <div class="col-md-8 ">
      <div class="note-text">
      <h4><%=t("schedule.wish")%></h4><%=t("schedule.please chose one spot")%>
</div>
      <div class="map-bolck">
        <div id="map"><%=t("schedule.map_content")%></div>

      </div>


    </div>
    <div class="col-md-4">

      <br>
  <h4><%=t("schedule.My Schedules")%></h4>
      <div class="spot-list">

        <div class="row bhoechie-tab-container">
          <div class="col-2 bhoechie-tab-menu">
            <div class="list-group">
              <a href="#" class="list-group-item active text-center" onclick="showList()">
                <p id="wish-show" class="glyphicon glyphicon-plane"><%=t("schedule.Wish")%></p>
              </a>
              <% @schedules.each do |schedule| %>
                <a href="#" class="list-group-item text-center" onclick="showScheduleList(event)">

                  <p class="glyphicon glyphicon-plane day-title" id="<%=schedule.id%>">Day
                    <%= schedule.day%></p>

                </a>

              <% end %>
            </div>
          </div>
          <div class="col-10 bhoechie-tab">
            <div id="wish-content" class="bhoechie-tab-content active"></div>
            <% @schedules.each do |schedule| %>
              <div id="schedule-content-<%= schedule.id %>" class="bhoechie-tab-content">
              </div>
            <% end %>
          </div>

        </div>
      </div>

    </div>
    <div class="footer-btn">
      <br>
     <!-- <button type="button" class="btn btn-primary"><%=t("schedule.new.email")%></button>
      <button type="button" class="btn btn-primary"><%=t("schedule.new.print")%></button>-->
      <%= link_to t("schedule.new.view"), event_path(@event.id) ,method: :get, class: "tbtn btn-blue"%>
      <br>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%=t("schedule.spot info")%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="newpage"></div>

      </div>
    </div>
  </div>

  <script type="text/javascript">
    var currentInfoWindow = null;
    function initialize(spots) {
      var location = {
        lat: 44.5403,
        lng: -78.5463
      }

      if (spots.length > 0) {
        location = {
          lat: spots[0].lat,
          lng: spots[0].lng
        }
      }

      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 12
      });

      var marker;
      var markerBounds = new google.maps.LatLngBounds();

      spots.forEach(function (spot) {
      showSpot(spot);


        marker = new google.maps.Marker({
          position: {
            lat: spot.lat,
            lng: spot.lng
          },
          map: map
        });

        var position = marker.position;
        markerBounds.extend(position);


        attachSecretMessage(
          marker,
          "<h6>" + spot.spot_name + "</h6><div id ='rating'>" + spot.rating + "</div><img id='small-pic'><br>" + spot.address + "<br><button onclick='addSpotToDetails()' data-toggle='modal' data-target='#exampleModal'>加入<i class='fas fa-plus'></i></button><div hidden id='place'>" + spot.place_id + "</div>",
          spot.place_id,
          map
        )
       
      })
      map.fitBounds(markerBounds);

    }
    function attachSecretMessage(marker, secretMessage, placeId, map) {
      //console.log(placeId);
      var infowindow;

      marker.addListener('click', function () {
        if (currentInfoWindow != null) {
          currentInfoWindow.close();
        }
        map.setZoom(14);
        map.setCenter(marker.getPosition());
        infowindow = new google.maps.InfoWindow({
          content: "<div class='map_price' id='spot-info'>" + secretMessage + "<br></div>"
        });
      

        infowindow.open(marker.get('map'), marker);
        currentInfoWindow = infowindow;
      });

    }

/*   //default onload
    google.maps.event.addDomListener(window, 'load', function () {
      initialize(<%= raw @wishLists.to_json %>)
      //showList();
    });
*/
   
    //show new detail
    function addSpotToDetails() {
      $.ajax({
        url: "/details/new",
        method: "GET",
        dataType: "HTML",
        error: function (xhr) {
        },
        success: function (data) {
          $('#detail-input').html(data);

        }
      });

    }



  /*
    function showScheduleList(event) {
      //var id = $(".day-title").attr('id');
      var id = event.target.id;
      //e.target.parentNode.parentNode.id;
      console.log(id);

      $.ajax({
        url: "/schedules/" + id,
        method: "GET",
        dataType: "HTML",

        error: function (xhr) {
          //$('#newpage').html("ERROR");
          alert('請再點選一次');
        },
        success: function (data) {

          //$("schedule-"+id).find('.schedule-content').html(data);
          $("#schedule-content-" + id).html(data);

        }
      });
    }

    //show detail
    function showMoreInfo(event){

      var id = event.target.parentNode.parentNode.id;
       id =  id.split("-").pop();
      console.log(id);
        $.ajax({
        url: "/details/" + id,
        method: "GET",
        dataType: "HTML",

        error: function (xhr) {
          $('#newpage').html("ERROR");
          //alert('請再點選一次');
        },
        success: function (data) {
          $('#newpage').html(data);
        }
      });
    }

    //edit detail
    function editDetail(event){

      var id = event.target.parentNode.parentNode.id;
      var scheduleId = $('div.bhoechie-tab-content.active').attr('id');
      var placeId = $("#place").html();

     scheduleId =  scheduleId.split("-").pop();
     id =  id.split("-").pop();
      console.log(id);
        $.ajax({
        url: "/details/" + id + "/edit",
        method: "GET",
        dataType: "HTML",
        data: {
          schedule_id: scheduleId,
          place_id: placeId
        },

        error: function (xhr) {
          $('#newpage').html("ERROR");
          //alert('請再點選一次');
        },
        success: function (data) {
          $('#newpage').html(data);
        }
      });
    }

*/
//////

 //搜尋
 $(function () {
      //自動帶入輸入的地區
      var str = "<%=@event.country%>";
      $("#content").val(str);
      //顯示input畫面
      addSpotToDetails();
      searchSpot();
      $('input[type=text]').on('keydown', function(e) {
        if (e.which == 13) {
          e.preventDefault();
           //搜尋景點
           searchSpot();

          }
      });
     
      //套用地圖
      //按照順序的api顯示

    });

      function searchSpot() {
        var str = document.getElementById("content");
        var category = $("#category").val()
        //console.log(str.value);
        $.ajax({
          url: "/spots/search",
          method: "GET",
          dataType: "json",
          data: {
            destination: $("#content").val(),
             category: $("#category").val()
          },
          success: function (data) {
             $("#review-info").remove();
          initialize(data["spots"]);
          //$("#spot-list").html(data);

          }
        });

      }

      function showSpot(spot){
       
        var info = document.createElement("div");
        info.id = "review-info";
        var spotRow = document.createElement("tr");
            spotRow.id = spot.id;
            $(spotRow).html($("#spot-template").html());
            $(spotRow).find(".item-list").html(spot.name);

            getPhoto(spotRow,spot.place_id);
            $("#review-info").append(spotRow);
            $("#spots").append(info);
            
       

      }

      function getPhoto(spotRow,place_id)
      {

        $.ajax({
          url: "/spots/get_phtot?place_id=" + place_id,
          method: "GET",
          dataType: "json",
          success: function (data) {
       
             url = data["url"];
            for (var i=0;i<url.length;i++){

             
              var elem = document.createElement("img");
              elem.id ="review-item";
             $("#review-item").addClass("review-img");
              elem.src = url[i];

             $(spotRow).find(".review-img").append(elem);
              
              
               
              }
             
              
              
          }
        });
      }


  </script>
  <script type="text/template" id="spot-template">
    <td  class="review-img">
   
    </td>
    <td class="item-list"></td>
    <td>
      <span class="delete-wishspot">Delete</span>
    </td>
    
  </script>

  <script type="text/template" id="spot-add-template">
    <center>
      <div class="conteaner"></div>
    </center>
  </script>
