<section class="new-schedule bg-img">
  <div class="row no-gutters">
    <div class="col-md-8 ">
      <div id="map-bolck">
        <div id="gmap-search-block" class="d-flex">
          <div id="custom-search-input">
            <div class="input-group">
              <input id="content" type="text" class="form-control" placeholder="Search anything you want"/>
              <span class="input-group-btn" onclick="searchFromStr()">
                <%= octicon "search" ,:height => 24, :class => "right left" %>
              </span>
            </div>
          </div>
        </div>
        <div id="map"><%=t("schedule.map_content")%></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-menu black-box">
        <div class="sort-button-list">
          <p class="map-note pl-3"><< <%=t("schedule.search.which are you prefer? making your wish")%></p>

          <div class="sort-items">
            <ul class="icons" id="catrgory-item">
              <% @categories.all.each do |category| %>
                <%if category.id ==@categories.first.id%>
                <li><button class="btn button selected" id="<%=category.id%>"><%=category.name%></button></li>
                <%else%>
                <li><button class="btn button" id="<%=category.id%>"><%=category.name%></button></li>
                <%end%>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- 景點清單 -->
        <div>
        <div id="places" class="results-list">


        </div>
        <div class="manage-list">
          <%= link_to t("schedule.search.start_planning"), event_path(@event),method: :get, class: "btn btn-style"%>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

  <!-- redesign end-->
<%= render :partial =>"detail" %>



  <script type="text/javascript">
  var spot;
   var category;
    var currentInfoWindow = null;

    var start;
    var end;
     var waypts = [];

    function initialize(spots) {

      var location = {
        lat: 44.5403,
        lng: -78.5463
      }
      if (spots.length > 0) {
        location = {
          lat: spots[0].lat,
          lng: spots[0].lng
        }
      }

      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 12,
        styles: [
    {
        "featureType": "administrative",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "gamma": "1.82"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "gamma": "1.96"
            },
            {
                "lightness": "-9"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": "25"
            },
            {
                "gamma": "1.00"
            },
            {
                "saturation": "-100"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#ffaa00"
            },
            {
                "saturation": "-43"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "hue": "#ffaa00"
            },
            {
                "saturation": "-70"
            }
        ]
    },
    {
        "featureType": "road.highway.controlled_access",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "saturation": "-100"
            },
            {
                "lightness": "30"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "all",
        "stylers": [
            {
                "saturation": "-100"
            },
            {
                "lightness": "40"
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit.station.airport",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "gamma": "0.80"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    }
]
      });
        //交通模式
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);


      var marker;
      var markerBounds = new google.maps.LatLngBounds();

      spots.forEach(function (spot) {
/*
//取預設值和最後
        if(spots[0].spot_name == spot.spot_name)
        {
          start = spot.spot_name;
        }else if(spots[spots.length-1].spot_name == spot.spot_name){
           end = spot.spot_name;
        }else {
          waypts.push({
                        location: spot.spot_name,
                        stopover: true
                      });
        }
*/

        marker = new google.maps.Marker({
          position: {
            lat: spot.lat,
            lng: spot.lng
          },
          animation: google.maps.Animation.DROP,
          map: map
        });
        var position = marker.position;
        markerBounds.extend(position);

        attachSecretMessage(
          marker,
          "<h6 id='spot-name'>" + spot.name + "</h6>",
          map,
          spot.place_id
        )

      })
      map.fitBounds(markerBounds);

    }
    function attachSecretMessage(marker, secretMessage, map , place_id) {
      //console.log(placeId);
      var infowindow;

      marker.addListener('click', function () {
          addSpot(place_id);
        if (currentInfoWindow != null) {
          currentInfoWindow.close();
        }

//data-toggle='modal' data-target='#detail-input'
        //data-toggle='modal' data-target='#spot-detail-info'
        map.setZoom(14);
        map.setCenter(marker.getPosition());

        infowindow = new google.maps.InfoWindow({
          content: "<div class='map_price' id='spot-info' onclick='addSpotToDetails()' data-toggle='modal' data-target='#detail'>" + secretMessage + "<br></div>"

        });

        infowindow.open(marker.get('map'), marker);
        currentInfoWindow = infowindow;
      });

    }
    //地圖繪製
    function calcRoute() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 12
      });
      var directionsService = new google.maps.DirectionsService;
       var directionsDisplay = new google.maps.DirectionsRenderer;
       directionsDisplay.setMap(map);
       <% @details.all.each do |detail| %>
          <%if @details.last.spot.id  == detail.spot.id %>
            end = "<%=detail.spot.spot_name%>";
          <% elsif @details.first.spot.id  == detail.spot.id%>
            start ="<%=detail.spot.spot_name%>";
          <%else%>
          waypts.push({
                        location: "<%=detail.spot.spot_name%>",
                        stopover: true
                      });
          <%end%>
       <% end %>



     directionsService.route({
        origin: start,
        destination: end,
        waypoints: waypts,
        optimizeWaypoints: true,
        travelMode: 'DRIVING'
      }, function(response, status) {
           if (status === 'OK') {
             directionsDisplay.setDirections(response);
             //var route = response.routes[0];
             //var summaryPanel = document.getElementById('directions-panel');
             //summaryPanel.innerHTML = '';
             // For each route, display summary information.

           } else {
             window.alert('Directions request failed due to ' + status);
           }
         });
       }



  //catrgory selected
  $('#catrgory-item li button').click(function(event) {
          $('#catrgory-item li button').removeClass('selected');
      $(this).addClass('selected');
      category = event.target.id;
      //切換種類也要即時搜尋
      searchSpot();
  });
    //show new detail
    function addSpotToDetails() {
      var urlArray;
      $.ajax({
        url: "/details/new",
        method: "GET",
        dataType: "HTML",
        data: {
          placeId: spot.place_id
        },
        error: function (xhr) {},
        success: function (data) {
          $('#newpage').html(data);
          //data binding


          $("#detail_schedule_id").val(<%=@schedules.id%>);
          $("#detail_category_id").val(category);
/*
$("#detail_name").val($("#spot-name").html());
          $("#detail_spot_id").val(spot.id);

          var images = spot.image.split(",");
          console.log(images.length);
          for(var i=0;i<images.length-1;i++){
            urlArray.push(images[i]);
          }

          //用迴圈去抓
          $("#spot-image").attr('src',url);

*/
        }
      });

    }

    function showScheduleList() {
      //var id = $(".day-title").attr('id'); var id = event.target.id; e.target.parentNode.parentNode.id; console.log(id);
//places
      $.ajax({
        url: "/schedules/" + <%= @schedules.id%>,
        method: "GET",
        dataType: "HTML",

        error: function (xhr) {
          //$('#newpage').html("ERROR");
          alert('請再點選一次');
        },
        success: function (data) {

          //$("schedule-"+id).find('.schedule-content').html(data);
          $("#places").html(data);
          //initialize(<%= raw @spots.to_json %>)
//calcRoute();
        }
      });
    }

    //搜尋
    $(function () {
      var str = "<%=@event.country%>";
      $("#content").val(str);
      //顯示input畫面
      //addSpotToDetails();
      searchSpot();
      $('input[type=text]').on('keydown', function (e) {
        if (e.which == 13) {
          e.preventDefault();
          //搜尋景點
          searchSpot();

        }
      });
      //加入地點
      showScheduleList();
      //套用地圖
      //initialize(<%= raw @spots.to_json %>)
      //按照順序的api顯示

    });
    //搜尋景點
    function searchSpot() {
      destinationStr = $("#content").val();
      //default category
      categoryStr = $("#catrgory-item").find(".selected").attr("id")
      category = categoryStr;

      $.ajax({
        url: "/spots/search",
        method: "GET",
        dataType: "json",
        data: {
          destination: destinationStr,
          category: categoryStr
        },
        success: function (data) {
        //  $("#review-info").remove();
           initialize(data["spots"]);

          data["spots"].forEach(function (spot) {
            //showSpot(spot);
          });
        }
      });

    }
    /*
    //先暫定用
    function showSpot(spot) {
      var info = document.createElement("div");
      info.id = "review-info";
      var spotRow = document.createElement("tr");
      spotRow.id = spot.place_id;
      $(spotRow).html($("#spot-template").html());
      $(spotRow).find(".item-list").html(spot.name);

      getPhoto(spotRow,spot.place_id);
      $("#review-info").append(spotRow);
      $("#spots").append(info);

    }
*/
/*
    function getPhoto(spotRow, place_id) {

      $.ajax({
        url: "/spots/get_phtot?place_id=" + place_id,
        method: "GET",
        dataType: "json",
        success: function (data) {

          var showPhoto = document.createElement("div");
          showPhoto.id = "review";
          $("#review").addClass("review");
          url = data["url"];
          for (var i = 0; i < url.length; i++) {

            var elem = document.createElement("img");
            elem.id = "review-item";
            //$("#review-item").addClass("review-img");
            elem.src = url[i];

            //$(spotRow).find(".review-img").append(elem);
            showPhoto.append(elem);

          }

          $(spotRow).find(".review-img").append(showPhoto);

        }
      });
    }
*/
    //create new spot
    function addSpot(place_id) {
      //new_spot
      $.ajax({
        url: "/spots/new",
        method: "GET",
        dataType: "json",
        data: {
          placeId: place_id

        },
        success: function (data) {
          spot = data["spot"];

            alert("ok");
            //以防萬一還是先綁定
            $("#detail_spot_id").val(spot.id);
            var url = spot.image.split(",", 1)[0];
            $("#spot-image").attr('src',url);

        }
      });
    }

    //show detail
    function showMoreInfo(event){
      var id = event.target.parentNode.parentNode.parentNode.parentNode.parentNode.id;

      console.log(id);
        $.ajax({
        url: "/details/" + id + "/edit",
        method: "GET",
        dataType: "HTML",
        error: function (xhr) {
          $('#newpage').html("ERROR");
          //alert('請再點選一次');
        },
        success: function (data) {
          $('#newpage').html(data);
        }
      });
    }
  </script>


  <script type="text/template" id="spot-add-template">
    <center>
      <div class="conteaner"></div>
    </center>
  </script>
