<div class="container">
  <div class="row">
    <div class="content">
      <div class="title">
        <h3><%=@event.title%></h3>
        <%= link_to t("schedule.new.search"), search_event_schedules_path(@event.id) ,method: :get, class: "ph-button ph-btn-grey btn-sm"%>
      </div>
      <!--<div class="share-btn"> <button type="button" class="btn btn-primary"><%=t("schedule.new.shar_event")%></button> </div>-->
      <br>
    </div>

  </div>

  <!--redesign blobk -->
  <div class="row">
    <div class="col-8">
      <%= select_tag 'category', options_for_select(@categories.collect{ |u| [u.name, u.id] }),{class: "form-control"}%>
      <div id="custom-search-input">
        <div class="input-group ">
          <input id="content" type="text" class="form-control input-lg" placeholder="Search"/>
          <span class="input-group-btn" onclick="searchSpot()">
            <%= octicon "search" ,:height => 24, :class => "right left" %>
          </span>
        </div>
      </div>
      <div class="detail-contet">
        <div id="detail-input">
          <!--input form-->
        </div>
      </div>
      <div class="search-type">
        <%= select_tag 'rating', options_for_select(["1", "2", "3", "4"]),{class: "form-control"}%>
      </div>

      <div class="spot-list">
        <table class="my-table table table-hover">

          <tbody id="spots"></tbody>
        </table>
      </div>
      <div class="map"></div>

    </div>
    <div class="col-4">
      <!--show shcedule -->

      <div id="schedule-review">

        <a href="#" class="list-group-item text-center" onclick="showScheduleList(event)">

          <p class="glyphicon glyphicon-plane day-title" id="<%=@schedules.id%>">Day
            <%= @schedules.day%></p>

        </a>

      </div>

    </div>
  </div>

  <!-- redesign end-->
  <div class="row">
    <div class="col-md-8 ">
      <div class="note-text">
        <h4><%=t("schedule.wish")%></h4><%=t("schedule.please chose one spot")%>
      </div>
      <div class="map-bolck">
        <div id="map"><%=t("schedule.map_content")%></div>

      </div>

    </div>

    <div class="footer-btn">
      <br>
      <!-- <button type="button" class="btn btn-primary"><%=t("schedule.new.email")%></button> <button type="button" class="btn btn-primary"><%=t("schedule.new.print")%></button>-->
      <%= link_to t("schedule.new.view"), event_path(@event.id) ,method: :get, class: "tbtn btn-blue"%>
      <br>
    </div>
  </div>

  <script type="text/javascript">
    var currentInfoWindow = null;

    var start;
    var end;
     var waypts = [];

    function initialize(spots) {
      var location = {
        lat: 44.5403,
        lng: -78.5463
      }
      if (spots.length > 0) {
        location = {
          lat: spots[0].lat,
          lng: spots[0].lng
        }
      }

      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 12
      });
        //交通模式
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);


      var marker;
      var markerBounds = new google.maps.LatLngBounds();

      spots.forEach(function (spot) {
/*
//取預設值和最後
        if(spots[0].spot_name == spot.spot_name)
        {
          start = spot.spot_name;
        }else if(spots[spots.length-1].spot_name == spot.spot_name){
           end = spot.spot_name;
        }else {
          waypts.push({
                        location: spot.spot_name,
                        stopover: true
                      });
        }
*/

        marker = new google.maps.Marker({
          position: {
            lat: spot.lat,
            lng: spot.lng
          },

          map: map
        });

        var position = marker.position;
        markerBounds.extend(position);

        attachSecretMessage(
          marker,
          "<h6>" + spot.spot_name + "</h6>",
          map
        )

      })
      map.fitBounds(markerBounds);

    }
    function attachSecretMessage(marker, secretMessage, map) {
      //console.log(placeId);
      var infowindow;

      marker.addListener('click', function () {
        if (currentInfoWindow != null) {
          currentInfoWindow.close();
        }
        map.setZoom(14);
        map.setCenter(marker.getPosition());
        infowindow = new google.maps.InfoWindow({
          content: "<div class='map_price' id='spot-info'>" + secretMessage + "<br></div>"
        });

        infowindow.open(marker.get('map'), marker);
        currentInfoWindow = infowindow;
      });

    }

    function calcRoute() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 12
      });
      var directionsService = new google.maps.DirectionsService;
       var directionsDisplay = new google.maps.DirectionsRenderer;
       directionsDisplay.setMap(map);
       <% @spots.all.each do |spot| %>
          <%if @spots.last.id  == spot.id %>
            end = "<%=spot.spot_name%>";
          <% elsif @spots.first.id  == spot.id%>
            start ="<%=spot.spot_name%>";
          <%else%>
          waypts.push({
                        location: "<%=spot.spot_name%>",
                        stopover: true
                      });
          <%end%>
       <% end %>



     directionsService.route({
        origin: start,
        destination: end,
        waypoints: waypts,
        optimizeWaypoints: true,
        travelMode: 'DRIVING'
      }, function(response, status) {
           if (status === 'OK') {
             directionsDisplay.setDirections(response);
             //var route = response.routes[0];
             //var summaryPanel = document.getElementById('directions-panel');
             //summaryPanel.innerHTML = '';
             // For each route, display summary information.

           } else {
             window.alert('Directions request failed due to ' + status);
           }
         });
       }




    //show new detail
    function addSpotToDetails() {
      $.ajax({
        url: "/details/new",
        method: "GET",
        dataType: "HTML",
        error: function (xhr) {},
        success: function (data) {
          $('#detail-input').html(data);
          $("#detail_schedule_id").val(<%=@schedules.id%>);

        }
      });

    }

    function showScheduleList() {
      //var id = $(".day-title").attr('id'); var id = event.target.id; e.target.parentNode.parentNode.id; console.log(id);

      $.ajax({
        url: "/schedules/" + <%= @schedules.id%>,
        method: "GET",
        dataType: "HTML",

        error: function (xhr) {
          //$('#newpage').html("ERROR");
          alert('請再點選一次');
        },
        success: function (data) {

          //$("schedule-"+id).find('.schedule-content').html(data);
          $("#schedule-review").html(data);
          //initialize(<%= raw @spots.to_json %>)
calcRoute();
        }
      });
    }

    //搜尋
    $(function () {
      //自動帶入輸入的地區
      var str = "<%=@event.country%>";
      $("#content").val(str);
      //顯示input畫面
      addSpotToDetails();
      searchSpot();
      $('input[type=text]').on('keydown', function (e) {
        if (e.which == 13) {
          e.preventDefault();
          //搜尋景點
          searchSpot();

        }
      });
      //加入地點
      showScheduleList();
      //套用地圖
      //initialize(<%= raw @spots.to_json %>)
      //按照順序的api顯示

    });

    function searchSpot() {
      var str = document.getElementById("content");
      var category = $("#category").val()
      //console.log(str.value);
      $.ajax({
        url: "/spots/search",
        method: "GET",
        dataType: "json",
        data: {
          destination: $("#content").val(),
          category: $("#category").val()
        },
        success: function (data) {
          $("#review-info").remove();
           initialize(data["spots"]);

          data["spots"].forEach(function (spot) {
            //showSpot(spot);
          });
        }
      });

    }
    //先暫定用
    function showSpot(spot) {
      console.log(spot.id)
      var info = document.createElement("div");
      info.id = "review-info";
      var spotRow = document.createElement("tr");
      spotRow.id = spot.place_id;
      $(spotRow).html($("#spot-template").html());
      $(spotRow).find(".item-list").html(spot.name);

      getPhoto(spotRow,spot.place_id);
      $("#review-info").append(spotRow);
      $("#spots").append(info);

    }

    function getPhoto(spotRow, place_id) {

      $.ajax({
        url: "/spots/get_phtot?place_id=" + place_id,
        method: "GET",
        dataType: "json",
        success: function (data) {

          var showPhoto = document.createElement("div");
          showPhoto.id = "review";
          $("#review").addClass("review");
          url = data["url"];
          for (var i = 0; i < url.length; i++) {

            var elem = document.createElement("img");
            elem.id = "review-item";
            //$("#review-item").addClass("review-img");
            elem.src = url[i];

            //$(spotRow).find(".review-img").append(elem);
            showPhoto.append(elem);

          }

          $(spotRow).find(".review-img").append(showPhoto);

        }
      });
    }

    //create new spot
    function addSpot(event) {
      var id = event.target.parentNode.parentNode.id;
      var category = $("#category").val();
      $("#detail_category_id").val(category);
      console.log(id);
      $("#detail_name").val($("#" + id).find(".item-list").html());
      //new_spot
      $.ajax({
        url: "/spots/new",
        method: "GET",
        dataType: "json",
        data: {
          placeId: id

        },
        success: function (data) {
          alert("ok");
          $("#detail_spot_id").val(data["spot"].id);

        }
      });
    }
  </script>

  <script type="text/template" id="spot-template">
    <td class="review-img"></td>
    <td class="item-list"></td>
    <td>
      <span class="add-spot" onclick="addSpot(event)">ADD</span>
    </td>

  </script>

  <script type="text/template" id="spot-add-template">
    <center>
      <div class="conteaner"></div>
    </center>
  </script>
