<section class="new-schedule bg-img">
  <div style="height: 100%;align-items: stretch;">
    <div class="black-box" style="height: 100%;">
      <div id="map-bolck">
        <div id="gmap-search-block" class="d-flex">
          <div id="custom-search-input">
            <div class="input-group">
              <input id="content" type="text" class="form-control" placeholder="Search anything you want"/>
              <span class="input-group-btn" onclick="searchFromStr()">
                <%= octicon "search" ,:height => 24, :class => "right left" %>
              </span>
            </div>
          </div>
        </div>
        <div id="map"><%=t("schedule.map_content")%>
        </div>
        <div class="review-pic" id="review-pic"></div>
        <!-- sidebar link -->
        <a id="sidebarCollapse" class="btn btn-dark text-white">功能列<i class="fas fa-angle-double-right"></i></a>
    </div>
    <!--  side nav / side bar-->

    <div id="sideNav" class="sidebar-menu black-box">
      <div class="sort-button-list">
        <p class="map-note pl-3"><< <%=t("schedule.search.which are you prefer? making your wish")%></p>

        <div class="sort-items">
          <ul class="icons" id="catrgory-item">
            <% @categories.all.each do |category| %>
              <%if category.id ==@categories.first.id%>
                <li>
                  <button class="btn button selected" id="<%=category.id%>"><%=category.name%></button>
                </li>
              <%else%>
                <li>
                  <button class="btn button" id="<%=category.id%>"><%=category.name%></button>
                </li>
              <%end%>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- 景點清單 -->
      <div class="lists">
        <div class="title">
          <div class="manage-list d-flex">
            <% @event.schedules.all.each do |schedule| %>
              <% if schedule.id == @schedule.id %>
                <%= link_to review_event_schedule_path(@event.id,schedule.id),method: :get, class: " days-item text-white" do %>
                  <h5>DAY <%= schedule.day%></h5>
                <% end %>
              <% else %>
                <%= link_to review_event_schedule_path(@event.id,schedule.id),method: :get, class: "days-item text-muted" do %>
                  <h5>DAY <%= schedule.day%></h5>
                <% end %>
              <% end %>
            <%end%>
            <div class="ml-auto mt-1">
              <% if user_signed_in? %>
                <%= link_to t("schedule.new.Save Your Trip"), event_path(@event), class: "btn btn-style" %>
              <% else %>
                <%= link_to t("schedule.new.Save Your Trip"), new_user_session_path(session[:event]), class: "btn btn-style" %>
              <% end %>
            </div>
          </div>
          <button class="btn button" id="spot-show-map" onclick="showMap()"><%=t("schedule.new.show map")%></button>
        </div>

        <div id="places" class="results-list"></div>
      </div>
    </div>

  </div>
  <div id="directions-panel"></div>
</section>

<!-- redesign end-->
<%= render :partial =>"detail" %>
<script type="text/javascript">
  var spot,category,start,end,map;
  var currentInfoWindow = null;

  var waypts = [];
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var showSpot = false;
  var markers = [];
  var image = 'https://png.icons8.com/small/50/000000/region-code.png';

      function initAutocomplete() {
        var input = document.getElementById('content');
       var searchBox = new google.maps.places.SearchBox(input);
           searchBox.addListener('places_changed', function() {
             var places = searchBox.getPlaces();
             places.forEach(function(place) {
               $("#content").val(place.name);
             });


           })

      }

  function initialize(spots) {
    var location = {
      lat: 44.5403,
      lng: -78.5463
    }
    if (spots.length > 0) {
      location = {
        lat: spots[0].lat,
        lng: spots[0].lng
      }
    }

    map = new google.maps.Map(document.getElementById('map'), {
      center: location,
      zoom: 12,
      styles: [
        {
          "featureType": "administrative",
          "elementType": "labels",
          "stylers": [
            {
              "visibility": "on"
            }, {
              "gamma": "1.82"
            }
          ]
        }, {
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "visibility": "on"
            }, {
              "gamma": "1.96"
            }, {
              "lightness": "-9"
            }
          ]
        }, {
          "featureType": "administrative",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [
            {
              "visibility": "on"
            }, {
              "lightness": "25"
            }, {
              "gamma": "1.00"
            }, {
              "saturation": "-100"
            }
          ]
        }, {
          "featureType": "poi.business",
          "elementType": "all",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "poi.park",
          "elementType": "all",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "road",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "road",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
            {
              "hue": "#ffaa00"
            }, {
              "saturation": "-43"
            }, {
              "visibility": "on"
            }
          ]
        }, {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "road.highway",
          "elementType": "labels",
          "stylers": [
            {
              "visibility": "simplified"
            }, {
              "hue": "#ffaa00"
            }, {
              "saturation": "-70"
            }
          ]
        }, {
          "featureType": "road.highway.controlled_access",
          "elementType": "labels",
          "stylers": [
            {
              "visibility": "on"
            }
          ]
        }, {
          "featureType": "road.arterial",
          "elementType": "all",
          "stylers": [
            {
              "visibility": "on"
            }, {
              "saturation": "-100"
            }, {
              "lightness": "30"
            }
          ]
        }, {
          "featureType": "road.local",
          "elementType": "all",
          "stylers": [
            {
              "saturation": "-100"
            }, {
              "lightness": "40"
            }, {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "transit.station.airport",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "visibility": "on"
            }, {
              "gamma": "0.80"
            }
          ]
        }, {
          "featureType": "water",
          "elementType": "all",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }
      ]
    });
    directionsDisplay.setMap(map);
    //交通模式
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var marker;
    var markerBounds = new google.maps.LatLngBounds();

    spots.forEach(function (spot) {
      marker = new google.maps.Marker({
        position: {
          lat: spot.lat,
          lng: spot.lng
        },
        icon: image,
        map: map
      });

      var position = marker.position;
      var photo = spot.photos[0].photo_reference;

      markerBounds.extend(position);

      attachSecretMessage(marker, "<h6 id='spot-name'>" + spot.name + "</h6>", map, spot.place_id,photo,spot.name)
    })

    map.fitBounds(markerBounds);

  }
  function attachSecretMessage(marker, secretMessage, map, place_id,photo,title) {
    var imageMouseover = 'https://png.icons8.com/color/50/000000/region-code.png';
    var infowindow;

    marker.addListener('click', function (event) {
      $("#review-pic").html("");
      addSpotToDetails(place_id);
      if (currentInfoWindow != null) {
        currentInfoWindow.close();
      }

      //map.setZoom(14);
      map.setCenter(marker.getPosition());
      currentInfoWindow = infowindow;
    });

    marker.addListener('mouseover', function () {
      getPhoto(photo,title);
       marker.setIcon(imageMouseover);


    });
    marker.addListener('mouseout', function () {
      $("#review-pic").html("");
       marker.setIcon(image);
    });

  }
  //切換顯示現在的地圖資訊
  function showMap() {
    if (!showSpot) {
      $('#spot-show-map').addClass('selected');
      $.ajax({
        url: "/schedules/" + <%=@schedule.id%> + "/get_new_details",
        method: "GET",
        dataType: "json",

        error: function (xhr) {
          alert("error");
        },
        success: function (data) {
          spots = data["spots"];
          addMarker(spots, map);
          showSpot = true;
        }
      });

    } else {
      $('#spot-show-map').removeClass('selected');
      setMapOnAll();
      showSpot = false;
    }

  }
  function setMapOnAll() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
  }
  //帶入目前的景點 Adds a marker to the map. showMoreInfo(event)
  function addMarker(spots, map) {
    var labelIndex = 1;

    spots.forEach(function (spot) {
      marker = new google.maps.Marker({
        position: {
          lat: spot.lat,
          lng: spot.lng
        },
        animation: google.maps.Animation.DROP,
        label: "" + labelIndex++,
        map: map
      });
      markers.push(marker);
      //attachSecretMessage(marker, "<h6 id='spot-name'>" + spot.name + "</h6>", map, spot.place_id)
    });

  }
/*
  //地圖繪製(交通規劃)
  function calcRoute() {
    <% @details.each do |detail| %>
    <%if @details.last.spot.id  == detail.spot.id %>
    end = "<%=detail.spot.spot_name%>";
    <%elsif @details.first.spot.id  == detail.spot.id%>
    start = "<%=detail.spot.spot_name%>";
    <%else%>
    waypts.push({location: "<%=detail.spot.spot_name%>", stopover: true});
    <%end%>
    <% end %>

    directionsService.route({
      origin: start,
      destination: end,
      waypoints: waypts,
      optimizeWaypoints: true,
      travelMode: 'WALKING'
    }, function (response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var summaryPanel = document.getElementById('directions-panel');
        summaryPanel.innerHTML = '';
        // For each route, display summary information.
        for (var i = 0; i < route.legs.length; i++) {
          var routeSegment = i + 1;
          summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment + '</b><br>';
          summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
          summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
          summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
        }

      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
*/
  //catrgory selected
  $('#catrgory-item li button').click(function (event) {
    $('#catrgory-item li button').removeClass('selected');
    $(this).addClass('selected');
    category = event.target.id;
    //切換種類也要即時搜尋
    searchSpot();
  });

  //show new detail
  function addSpotToDetails(place_id) {
    addSpot(place_id);
    $.ajax({
      url: "/details/new",
      method: "GET",
      dataType: "HTML",
      data: {
        placeId: place_id
      },
      error: function (xhr) {},
      success: function (data) {
        $('.modal').modal('toggle');
        $('#newpage').html(data);
        //data binding

        $("#detail_schedule_id").val(<%=@schedule.id%>);
        $("#detail_category_id").val(category);
      }
    });

  }

  function showScheduleList() {
    $.ajax({
      url: "/schedules/" + <%= @schedule.id%>,
      method: "GET",
      dataType: "HTML",

      error: function (xhr) {
        $('#newpage').html("ERROR");
      },
      success: function (data) {
        $("#places").html(data);
      }
    });
  }

  //onload
  $(function () {
initAutocomplete();
    var str = "<%=@event.district%>";
    $("#content").val(str);

    //顯示input畫面 addSpotToDetails();
    searchSpot();
    $('input[type=text]').on('keydown', function (e) {
      if (e.which == 13) {
        e.preventDefault();
        //搜尋景點
        searchSpot();

      }
    });
    //加入地點
    showScheduleList();
    //套用地圖 initialize(<%= raw @spots.to_json %>) 按照順序的api顯示  calcRoute();  addMarker(<%=raw @schedule.spots.to_json%>,map);

  });

  //搜尋景點
  function searchSpot() {
    var destinationStr = $("#content").val();
    //default category
    var categoryStr = $("#catrgory-item").find(".selected").attr("id")
    category = categoryStr;

    $.ajax({
      url: "/spots/search",
      method: "GET",
      dataType: "json",
      data: {
        destination: destinationStr,
        category: categoryStr
      },
      success: function (data) {
        if (data["spots"].length == 0) {
          $('.modal').modal('toggle');
          $('#newpage').html("Sorry ,we can't find anythings!");
        } else {
          initialize(data["spots"]);
        }

      }
    });

  }
  function getPhoto(photo,title) {
    var div = document.createElement('div');
    var elem = document.createElement("img");
    var reviewTitle = document.createElement("span");

    div.id = "review-block";
    elem.id = "review-item";
    reviewTitle.id ="revie-title";

    var url = "<%= GoogkePhoto %>"+"&photoreference="+photo+"&key="+ "<%= GoogleKey %>";
    elem.src = url;
    reviewTitle.innerHTML = title;
    $("#review-pic").append(div);
    $("#review-block").append(reviewTitle);
    $("#review-block").append(elem);
    $("#revie-title").addClass("revie-title");
  }

  //create new spot
  function addSpot(place_id) {
    //new_spot
    $.ajax({
      url: "/spots/new",
      method: "GET",
      dataType: "json",
      data: {
        placeId: place_id

      },
      error: function (xhr) {
        alert('請再點選一次');
      },
      success: function (data) {}
    });
  }

  //show detail
  function showMoreInfo(event) {
    var id = event.target.parentNode.parentNode.parentNode.parentNode.parentNode.id;

    //console.log(id);
    $.ajax({
      url: "/details/" + id + "/edit",
      method: "GET",
      dataType: "HTML",
      error: function (xhr) {
        $('#newpage').html("ERROR");
        //alert('請再點選一次');
      },
      success: function (data) {
        $('#newpage').html(data);
      }
    });
  }

  // sidebar
  // function openNav() {
  //   document.getElementById("sideNav").style.width = "33.3333%";
  //   document.getElementById("map-bolck").style.width = "66.6666%";
  //   document.getElementById("openIcon").style.display = "none";
  //   document.getElementById("closeIcon").style.display = "block";
  // }

  // function closeNav(){
  //   document.getElementById("sideNav").style.width = "0";
  //   document.getElementById("map-bolck").style.width= "100%";
  //   document.getElementById("openIcon").style.display = "block";
  //   document.getElementById("closeIcon").style.display = "none";
  // }

  $(document).ready(function(){

    $('#sidebarCollapse').on('click', function(){
      $('#sideNav').toggleClass('active');
      $('#sidebarCollapse').toggleClass('active');
      $('#map-bolck').toggleClass('active');
    });
  });

</script>
