<% if @schedule.details.count > 0 %>
<div class="schedule-map">
    <%= link_to get_schedules_map_schedule_path(@schedule.id), remote: true, method: :get do  %>
         <i class="fas fa-globe fa-2x"> map</i>
               <%end%>
               </div>
               <%end%>
               <br>
<% @schedule.details.all.each do |detail| %>
    <% category = Category.find(detail.category_id)%>
    <div id="detail-<%= detail.id %>" class="detail-item">
     
        <h4><%= detail.spot.spot_name%></h4>
         <span id="detail-show" onclick="showMoreInfo(event)"  data-toggle='modal' data-target='#exampleModal'><i class="fas fa-info-circle"></i></span>


         <span id="detail-show" onclick="editDetail(event)"  data-toggle='modal' data-target='#exampleModal'> <i class="fas fa-pencil-alt"></i></span>

          <%= link_to detail_path(detail), remote: true, method: :delete do  %>
         <i class="fas fa-trash-alt" ></i>
    <% end %>
        <div><%=detail.strat_t.strftime("at %I:%M%p") %></div>
        <div>Category : <%=category.name%></div>
        <div>stay time : <%=detail.hr%> hr</div>
        <div>notes : <%=detail.content%></div>


        
    <hr>
      </div>
 
<% end %>
