<% @details.each do |detail| %>
<div id="<%= detail.id %>" class="results-items">
  <div class="row">
    <div class="col-md-5">
      <div class="image-result">
        <!-- spot-image  -->
        <%url= detail.spot.getPhoto.first%>
        <a href="#" class="featured"><%= image_tag "#{url}" , class: "d-block w-100 review-img"%></a>

      </div>
    </div>
    <div class="col-md-7">
      <div class="item-info">
        <header>
          <h5><%= detail.spot.spot_name%></h5>
          <div><%=detail.strat_t.strftime("at %I:%M%p") %></div>
          <div><%=detail.hr%> hr</div>
        </header>
        <footer>
          <button type="button" class="btn button" onclick="showMoreInfo(event)" data-toggle="modal" data-target="#detail">Show more</button>
          <%= link_to detail_path(detail), remote: true, method: :delete do %>
          <i class="far fa-trash-alt delete-wishspot"></i>
          <% end %>
        </footer>
      </div>
    </div>
  </div>
</div>
<%end%>
