<% count = 0%>
<% @details.each_with_sortable_id do |detail,sortable_id| %>
<div id="<%= sortable_id %>" class="results-items">
  <div class="row">
    <div class="col-sm-5">
      <div class="image-result">
        <!-- spot-image  -->
        <%url= detail.spot.getPhoto.first%>
        <%= image_tag "#{url}" , class: "d-block w-100 review-img"%>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="item-info">
        <header>
          <h5><%= count+=1 %>.<%= detail.spot.spot_name%></h5>
          <div><%=detail.time_formate %></div>
          <div>停留時間：<%=detail.get_hour %> hr</div>
        </header>
        <footer>
          <button type="button" class="btn button" onclick="showMoreInfo(event)" data-toggle="modal" data-target="#detail">Show more</button>
          <%= link_to detail_path(detail), remote: true,:onclick => 'checkDelete()', method: :delete do %>
          <i class="far fa-trash-alt delete-wishspot"></i>
          <% end %>
        </footer>
      </div>
    </div>
  </div>
</div>
<%end%>
<script>
function checkDelete(){
  $("#newpage").html("are you sure ?");
  $('.modal').modal('toggle');
}
</script>
