<% if myEvent?(object, current_user) %>
  <i class="fas fa-copy fa-lg" style="color: #49bf9d;" disable="true" content="<%= t('event.show.my event')%>"></i>
<% elsif clone?(object, current_user) %>
  <div id="clone-<%= object.id %>" class="feature-button">
    <i class="fas fa-copy fa-lg" style="color: #49bf9d;" disable="true" content="<%= t('event.show.cloned')%>"></i>
  </div>
<% else %>
  <div id="clone-<%= object.id %>" class="feature-button">
    <%= link_to icon('far', 'copy fa-lg'), clone_event_path(object), method: :post, content: t('event.show.clone') %>
  </div>
<% end %>