<div class="card">
  <div class="card-body">
    <h3 class="d-inline p-2"><%= object.title %></h3>
    <p><em>org_user: <%= org_user_name(object) %></em></p>
    <p><small class="text-muted"><%= time_tag(object.created_at) %></small></p>
    <div class="d-flex mt-2">
      <p class="mr-auto"><%= object.info %></p>
      <%= link_to "See Detail", event_path(object), class: "btn btn-primary" %>
    </div>
  </div>
</div>
