<section class="events-list-view my-4">
  <%= link_to event_path(object) do %>
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-sm-5 col-lg-4">
          <%#= image_tag "https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=060ac018caea67366de6b9910fbfd245&auto=format&fit=crop&w=1533&q=80", class: "card-img-left img-fluid", style: "width: 100%" %>
          <%= image_tag spot_img(object), width:'100%' ,class:"figure-img rounded" if spot_img(object).present? %>
        </div>
        <div class="col-sm-7 col-lg-8 event-detail" style="height: 205px;">
          <div class="card-body">
            <h4 class="d-inline p-2"><%= object.title %></h4>
            <p><small class="text-muted"><%= time_tag(object.created_at) %></small></p>
            <p class="card-text mr-auto"><%= object.info %></p>
          </div>
          <div class="event-items">
            <div class="event-rating d-inline">
              <small>評分: <%= object.arg_nums %></small>
            </div>
            <span class="px-2">|</span>
            <div class="event-favorites d-inline">
              <small><%= object.favorites_count %>人已收藏</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
