<section class="index-img d-flex align-items-center">
  <div class="container">
    <div class="row text-center">
      <div class="index-box mx-auto">
        <div class="head-desicription text-muted mb-4">
         <h3 class="display-1">Travel</h3>
          <p>Get the latest best practices and research on how to build your business on the world’s largest travel site.</p>
        </div>
        <div class="search-bar">
          <%= form_tag search_events_path, method: :get, class:"mx-2 w-100" do %>
            <div class="input-group">
              <!-- 加入params[:search]當作傳遞值，讓頁面loading後，search框得value不會消失(for UX) -->
              <%= text_field_tag :search, params[:search], placeholder: "Search country/district", class: "form-control border border-right-0" %>
              <%= button_tag(type: "submit", name: nil, class: "btn btn-outline-info border border-left-0") do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
    
<div class="container">
  <div class="row justify-content-center">
    <%= form_for @event do |f| %>
      <%= f.hidden_field :privacy, :value => false %>
      <div class="form-group">
        <%= f.label :title, "行程標題" %>
        <%= f.text_field :title, placeholder: "ex:日本之旅", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :days, "旅遊天數" %>
        <%= f.select :days, options_for_select([1,2,3]), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :country, "旅遊國家" %>
        <%= f.country_select :country, { priority_countries: ["TW", "JP", "HK", "SG", "KR", "MO", "CN"], selected: "JP" }, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :district, "旅遊地區" %>
        <%= f.text_field :district, placeholder: "ex:東京", class: "form-control" %>
      </div>
      <div class="col-sm-12 text-center">
        <%= f.submit "開始規劃行程", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>