<section class="index bg-img d-flex align-items-center">
  <div class="container">
    <div class="index-box">
      <div class="row">
        <div class="col-md-8">
          <div class="head-desicription">
           <h3 class="display-1">Travel</h3>
            <p>Get the latest best practices and research on how to build your business on the world’s largest travel site.</p>
          </div>
        </div>
        <div class="col-md-4">
        <%= form_for @event do |f| %>
          <div class="form-block-zone black-box">
            <div class="form-group">
              <%= f.label :title, "行程標題" %>
              <%= f.text_field :title, placeholder: "ex:日本之旅", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :days, "旅遊天數" %>
              <%= f.select :days, options_for_select([3,2,1]), class: "form-control" %>
            </div>
      <!--  <div class="form-group">
              <%= f.label :country, "旅遊國家" %>
              <%= f.country_select :country, { priority_countries: ["TW", "JP", "HK", "SG", "KR", "MO", "CN"], selected: "JP" }, class: "form-control" %>
            </div>  -->
            <div class="form-group">
              <%= f.label :district, "旅遊地區" %>
              <%= f.text_field :district, placeholder: "ex:東京", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.submit "開始規劃行程", class: "btn btn-style btn-lg" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>