<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12">       
      <h1 class="card-header">開始規劃我的行程</h1>
      <%= form_for @event do |f| %>
      <div class="row">
      <div class="col-12 col-md-12">              
        <div class="form-group">
          <%= f.check_box :privacy %>不公開
        </div>        
        <div class="form-group">
          <%= f.label :title, "*行程標題" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :info, "行程簡介" %>
          <%= f.text_area :info, class: "form-control" %>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-12 col-md-6">              
          <div class="form-group">
            <%= f.label :start_at, "*出發日期" %>
            <%= f.text_field :start_at, "data-provide" => 'datepicker', class: "form-control datepicker" %>
          </div>
          <div class="form-group">
            <%= f.label :end_at, "*回程日期" %>
            <%= f.text_field :end_at, "data-provide" => 'datepicker', class: "form-control datepicker" %>
          </div>
          <div class="form-group">
            <%= f.label :days, "共幾天" %>
            <%= f.number_field :days, value: "", onclick: "getTime()" %>
          </div>
          <div class="form-group">
            <%= f.label :country, "*旅遊國家" %>
            <%= f.country_select :country, ["TW"], format: :with_alpha2, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :district, "旅遊地區" %>
            <%= f.text_field :district, class: "form-control" %>
          </div>
        </div>
        <%= fields_for :schedule_first , @schedule_first do | f1 | %>
        <div class="col-12 col-md-3">              
          <div class="form-group">
            <%= f1.hidden_field :day, :value => "1" %>
            <%= f1.label :airplane_name, "航班公司(去程）" %>
            <%= f1.text_field :airplane_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f1.label :airplane_number, "航班編號" %>
            <%= f1.text_field :airplane_number, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f1.label :airplane_terminal, "航廈" %>
            <%= f1.text_field :airplane_terminal, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f1.label :airplane_time, "航班時間" %>
            <%= f1.time_field :airplane_time, class: "form-control" %>
          </div>
        </div>
        <% end %>
        <%= fields_for :schedule_last , @schedule_last do | f2 | %>
        <div class="col-12 col-md-3">              
          <div class="form-group">
            <%= f2.label :airplane_name, "航班公司(回程)" %>
            <%= f2.text_field :airplane_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f2.label :airplane_number, "航班編號" %>
            <%= f2.text_field :airplane_number, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f2.label :airplane_terminal, "航廈" %>
            <%= f2.text_field :airplane_terminal, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f2.label :airplane_time, "航班時間" %>
            <%= f2.time_field :airplane_time, class: "form-control" %>
          </div>
        </div>
      </div>
        <div class="col-sm-12 text-center">
          <%= f.submit "新增", class: "btn btn-primary btn-lg" %>
          <%= link_to "取消", events_path, class: "btn btn-default" %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(".datepicker").datepicker({
    format: "yyyy/mm/dd",
    autoclose: true,
    todayHighlight: true,
  });
  
  $(function () {
    var picker1 = $('#event_start_at').datepicker();
    var picker2 = $("#event_end_at").datepicker();
   
    //動態設置最小值(選擇前面一個日期後：後面一個日期不能小於前面一個)
     picker1.on('changeDate', function (e) {
      picker2.datepicker('setStartDate', e.date);
    });
    //動態設置最大值(選擇後面一個日期後：前面一個日期不能大於前面一個）
     picker2.on('changeDate', function (e) {
      picker1.datepicker('setEndDate', e.date);
    }); 
  });

  function getTime() {
    //計算出相差天數  
    var start_at = $("#event_start_at").val();
    var end_at = $("#event_end_at").val();
    var dategap = new Date(end_at).getTime() - new Date(start_at).getTime(); //時間差的毫秒數  
    var days = Math.floor(dategap / (24 * 3600 * 1000)) + 1;
    //目前設定最多三天
 //   if (days > 3) {            
 //     alert("最多三天");
 //   } else {
      $("#event_days").val(days);
 //   }
  }
</script>