<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <h1 class="card-header">開始規劃我的行程</h1>
        <%= form_for @event do |f| %>
          <div class="form-group">
            <%= f.check_box :privacy %>不公開
          </div>        
          <div class="form-group">
            <%= f.label :title, "*行程標題" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :info, "行程簡介" %>
            <%= f.text_area :info, class: "form-control" %>
          </div>
        </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <%= f.label :start_at, "*出發日期" %>
              <%= f.text_field :start_at, "data-provide" => 'datepicker', "data-date-format" => "yyyy-mm-dd", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :end_at, "*回程日期" %>
              <%= f.text_field :end_at, "data-provide" => 'datepicker', "data-date-format" => "yyyy-mm-dd", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :days, "共幾天" %>
              <%= f.select :days, options_for_select([1,2,3]), class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :country, "*旅遊國家" %>
              <%= f.country_select :country, ["TW"], format: :with_alpha2, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :district, "旅遊地區" %>
              <%= f.text_field :district, class: "form-control" %>
            </div>
          </div>
        <%= fields_for @schedule do | f | %>
          <div class="col-12 col-md-3">
            <div class="form-group">
              <%= f.label :airplane_name, "航班公司(去程）" %>
              <%= f.text_field :airplane_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :airplane_number, "航班編號" %>
              <%= f.text_field :airplane_number, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :airplane_terminal, "航廈" %>
              <%= f.text_field :airplane_terminal, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :airplane_time, "航班時間" %>
              <%= f.time_field :airplane_time, class: "form-control" %>
            </div>
          </div>
        <%= fields_for @schedule_end do | f | %>
          <div class="col-12 col-md-3">
            <div class="form-group">
              <%= f.label :airplane_name, "航班公司(回程)" %>
              <%= f.text_field :airplane_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :airplane_number, "航班編號" %>
              <%= f.text_field :airplane_number, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :airplane_terminal, "航廈" %>
              <%= f.text_field :airplane_terminal, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :airplane_time, "航班時間" %>
              <%= f.time_field :airplane_time, class: "form-control" %>
            </div>
          </div>
        <div class="form-group">
          <%= f.submit "新增", class: "btn btn-primary" %>
          <%= link_to "取消", events_path, class: "btn btn-default" %>
        </div>
        <% end %>
        <% end %>
        <% end %>
    </div>
  </div>
</div>