<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12">
      <h1 class="card-header">填入住宿資訊</h1>
        <%= form_tag schedulep_event_path, :method => :patch do %>
          <% @schedule.each do |schedule| %>
            <%= fields_for 'schedules[]', schedule do |f| %>
              <div class="form-group">
                <%= f.hidden_field :day, :value => schedule.day %>
                第<%= schedule.day %>天<%= f.label :stay, "住宿" %>
                <%= f.text_field :stay, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :address, "地址" %>
                <%= f.text_field :address, class: "form-control" %>
              </div>
              <div class="row justify-content-center">
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <%= f.label :check_in, "check in 時間" %>
                  <%= f.time_field :check_in, class: "form-control" %>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <%= f.label :check_out, "check out 時間" %>
                  <%= f.time_field :check_out, class: "form-control" %>
                </div>
              </div>
              </div>
            <% end %>
          <% end %>
          <%= submit_tag "完成", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
