<div class="container">
<div class="row d-block mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12">
      <h3 class="d-inline p-2">填入住宿資訊</h4>
        <%= form_tag schedulep_event_path, :method => :patch do %>
        <div class="row">
          <% @schedule.each do |schedule| %>
            <div class="col-12 col-md-3">              
            <%= fields_for 'schedules[]', schedule do |f| %>
              <div class="form-group">
                <%= f.hidden_field :day, :value => schedule.day %>
                第<%= schedule.day %>天<%= f.label :stay, "住宿" %>
                <%= f.text_field :stay, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.hidden_field :address, :value => "" %> <!-- 自動帶入 -->
              </div>
              <div class="form-group">
                <%= f.label :check_in, "check in 時間" %>
                <%= f.time_field :check_in, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :check_out, "check out 時間" %>
                <%= f.time_field :check_out, class: "form-control" %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= fields_for :schedule_first , @schedule_first do | f1 | %>
          <div class="col-12 col-md-3"> 
            <div class="form-group">
              <%= f1.label :airplane_number, "航班編號" %>
              <%= f1.text_field :airplane_number, class: "flight form-control", id: "flight-number-first" %>
            </div>             
            <div class="form-group">
              <%= f1.hidden_field :day, :value => "1" %>
              <%= f1.label :airplane_name, "航班公司(去程）" %>
              <%= f1.text_field :airplane_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f1.label :airplane_terminal, "航廈" %>
              <%= f1.text_field :airplane_terminal, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f1.label :airplane_time, "航班時間" %>
              <%= f1.time_field :airplane_time, class: "form-control" %>
            </div>
          </div>
        <% end %>
        
        <%= fields_for :schedule_last , @schedule_last do | f2 | %>
          <div class="col-12 col-md-3">
            <div class="form-group">
              <%= f2.label :airplane_number, "航班編號" %>
              <%= f2.text_field :airplane_number, class: "flight form-control", id: "flight-number-last"  %>
            </div>              
            <div class="form-group">
              <%= f2.label :airplane_name, "航班公司(回程)" %>
              <%= f2.text_field :airplane_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f2.label :airplane_terminal, "航廈" %>
              <%= f2.text_field :airplane_terminal, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f2.label :airplane_time, "航班時間" %>
              <%= f2.time_field :airplane_time, class: "form-control" %>
            </div>
          </div>
        </div>
        <% end %>
          <%= submit_tag "完成", class: "btn btn-style" %>
        <% end %>

        <h4>即時航班資訊參考</h4>
          <div id=flight></div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">編號</th>
                <th scope="col">公司</th>
                <th scope="col">航廈</th>
                <th scope="col">時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" id="flight-number-i"></th>
                <td id="flight-company-i"></td>
                <td id="flight-terminal-i"></td>
                <td id="flight-time-i"></td>
              </tr>
            </tbody>
          </table>

      </div>
    </div>
  </div>
</div>

<%= content_tag "div", id: "FLIGHT_ID", data: { key: ENV['FLIGHT_ID'] } do %>
<% end %>
<%= content_tag "div", id: "FLIGHT_KEY", data: { key: ENV['FLIGHT_KEY'] } do %>
<% end %>

<script type="text/javascript">
$('.flight').change(function() {

    var FlightNumber = parseFloat($(this).val());

    $.ajax({
        type: 'GET',
        url: 'http://ptx.transportdata.tw/MOTC/v2/Air/FIDS/Flight/'+FlightNumber+'?$select=FlightNumber%2CAirlineID%2CArrivalTerminal%2CDepartureTerminal%2CScheduleDepartureTime%2CScheduleArrivalTime&$format=JSON', //欲呼叫之API網址
        dataType: 'json',
        headers: GetAuthorizationHeader(),
        success: function (Data) {
          var total = Data.length
//           $('#flight').text(JSON.stringify(Data));
//          data.length do |i|
          console.log(total);
          for (i = 0 ; i < total ; i ++){
            document.getElementById("flight-number-i").innerHTML = Data[i].FlightNumber;
            document.getElementById("flight-company-i").innerHTML = Data[i].AirlineID;
            document.getElementById("flight-terminal-i").innerHTML = Data[i].DepartureTerminal || Data[i].ArrivalTerminal;
           document.getElementById("flight-time-i").innerHTML = Data[i].ScheduleDepartureTime || Data[i].ScheduleArrivalTime;
         }

        }
    });
});

function GetAuthorizationHeader() {
    var AppID = document.getElementById("FLIGHT_ID").dataset.key;
    var AppKey = document.getElementById("FLIGHT_KEY").dataset.key;

    var GMTString = new Date().toGMTString();
    var ShaObj = new jsSHA('SHA-1', 'TEXT');
    ShaObj.setHMACKey(AppKey, 'TEXT');
    ShaObj.update('x-date: ' + GMTString);
    var HMAC = ShaObj.getHMAC('B64');
    var Authorization = 'hmac username=\"' + AppID + '\", algorithm=\"hmac-sha1\", headers=\"x-date\", signature=\"' + HMAC + '\"';

    return { 'Authorization': Authorization, 'X-Date': GMTString /*,'Accept-Encoding': 'gzip'*/}; //如果要將js運行在伺服器，可額外加入 'Accept-Encoding': 'gzip'，要求壓縮以減少網路傳輸資料量
}
</script>
