<section class="search-events-page">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-8">
        <div class="event-list-result">
          <% if @events.blank? %>
            <h4>There are no events containing the term <%= params[:search] %>。</h4>
          <% else %>
            <h4 class="d-inline"><em class="text-info"><%= params[:search] %></em> /</h4>
            <h4 class="d-inline"><em class="text-info"><%= @events.total_count %> </em>項行程</h4>
            <hr>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort_by
              </button>
              <div class="dropdown-menu">
                <%= link_to "按照收藏數多寡", search_events_path(order: :favorites_count), class: "dropdown-item" %>
                <%= link_to "按照評論多寡", search_events_path(order: :replies_count), class: "dropdown-item" %>
              </div>
            </div>
            <div class="row scrolling-wrapper-flexbox">
              <%= render partial: "shared/events", collection: @events, as: :object %>
            </div>
          <% end %>
        </div>
        <div>
          <%= paginate @events %>
        </div>
      </div>
      <div class="col-md-4">
        <h5>精選行程</h5>
        <div class="scrolling-wrapper-popular">
          <% @populars.each do |event|%>
            <%= link_to event_path(event) do %>
              <div class="pop-items box-shadow">
                <div class="spot-item">
                  <figure class="mb-0" style="height: 130px;border-radius: 6px;overflow: hidden;">
                    <%= image_tag spot_img(event), class: "figure-img rounded pop-img" %>
                  </figure>
                  <div class="middle">
                    <h4><%= event.title %></h4>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
