<section id="event-show-page">
  <div class="container-md-fluid" style="height: 100%;
    overflow-y: hidden;">
    <% if privacy_valid?(@event, current_user) %>
    <div class="privacy-title text-center mt-3">
      <h4>此行程尚未公開</h4>
    </div>
    <% else %>
    <div class="row no-gutters" style="height: 100%;
    overflow-y: auto;">
      <div class="col-12 col-md-4">
        <div class="info-block black-box text-center">
          <h1><strong><%= @event.title %></strong></h1>
          <div class="event-rating">評分：<%= @arg_num %></div>
          <div class="count-group my-3">
            <span class="badge badge-pill badge-info">reviews<span class="badge badge-light"><%= @event.replies_count %></span></span>
            <span class="badge badge-pill badge-warning">favorites<span class="badge badge-light"><div id="favorite"><%= @event.favorites_count %></div></span></span>
          </div>
          <div class="info-list">
            <p><small class="text-muted"><%= time_tag @event.created_at %></small></p>
            <ul>
              <li>國家：<%= @event.country %></li>
              <li>地區：<%= @event.district %></li>
              <li>天數：<%= @event.days %></li>
              <li>出發日期：<%= @event.start_at %></li>
              <li>回程日期：<%= @event.end_at %></li>
            </ul>
            <p><%= @event.info %></p>
          </div>
          <div class="event-features-button">
            <% if user_signed_in? && @event.report == false %>
              <ul class="icons">
                <li><%= render "shared/favorite", object: @event %></li>
                <% if myEvent?(@event, current_user) %>
                  <li><%= link_to icon('far', 'edit fa-lg'), review_event_schedule_path(@event,@event.schedules.first) %></li>
                  <li><%= link_to icon('fas', 'info-circle fa-lg'),'#EventUpdateModal', 'data-toggle'=>'modal' %></li>
                <% end %>
                <li><%= render "shared/clone", object: @event %></li>
                <li><%= link_to icon('fas', 'ban fa-lg'), report_event_path(@event), method: :post %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8" style="overflow-y: auto">
        <div class="event-schedule-list pt-md-4">
          <% if @event.report? %>
            <h3>此行程被檢舉，待管理員審查</h3>
          <% else %>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="true">詳細行程</a>
                <a class="nav-item nav-link" id="nav-reply-tab" data-toggle="tab" href="#nav-reply" role="tab" aria-controls="nav-reply" aria-selected="false">訪客評論</a>
                <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
              </div>
            </nav>
            <div class="tab-content p-2" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                <div class="d-flex flex-column mt-3">
                  <%= render partial: "shared/schedule_list", collection: @event.schedules, as: :schedule %>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-reply" role="tabpanel" aria-labelledby="nav-reply-tab">
                <% @replies.each do |reply| %>
                  <div class="reply-item d-flex">
                      <div class="edit">
                        <%= image_tag reply.user.avatar,  class: "edit-img img-fluid rounded-circle"%>
                      </div>
                      <div>
                        <div class="reply-comment">
                          <h5><%= reply.user.name %></h5>
                          <div class="star-rating d-inline" data-score= <%= reply.number %> ></div>
                          <p class="d-inline"><small class="text-muted"><%= time_tag reply.created_at %></small></p>
                          <p><%= reply.comment %></p>
                        </div>
                      </div>
                  </div>
                <% end %>
                <hr>
                <br />
                <% if user_signed_in? %>
                  <div class="reply-block">
                    <h3>Reply</h3>
                    <%= form_for [@event, @reply] do |t| %>
                    <div class="form-group">
                      <div id="star-rating"></div>
                    </div>
                    <div class="form-group">
                      <%= t.text_area :comment, placeholder: "What's are you mind?", rows: "3", class: "form-control" %>
                    </div>
                    <div class="form-group text-right">
                      <%= t.submit "Submit", class: "btn btn-info" %>
                      <%= t.submit "Cancel", type: :reset, class: "btn btn-outline-secondary" %>
                    </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<!-- hotel Modal -->
<div class="modal fade" id="EventModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EventModalCenterLable">填寫飯店及機票資訊</h5>
      </div>
      <div class="modal-footer" id="btnClose">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">略過</button>
        <%= link_to "填寫", schedules_event_path(@event.id) ,method: :get, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>

<!-- updeat event Modal -->
<div class="modal fade" id="EventUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:400px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EventUpdateModalTitle">更改明細</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="event-form-body">
        <%= form_for @event, :method => :patch do |f| %>
          <div class="form-group">
            <%= f.check_box :privacy %>不公開
          </div>        
          <div class="form-group">
            <%= f.label :title, "行程標題" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :start_at, "出發日期" %>
            <%= f.text_field :start_at, "data-provide" => 'datepicker', class: "form-control datepicker" %>
          </div>
          <div class="form-group">
            <%= f.label :end_at, "回程日期" %>
            <%= f.text_field :end_at, "data-provide" => 'datepicker', class: "form-control datepicker" %>
          </div>
          <div class="form-group">
            <%= f.label :country, "旅遊國家" %>
            <div><%= f.country_select :country, { priority_countries: ["TW", "JP", "HK", "SG", "KR", "MO", "CN"], selected: "JP" }, class: "form-control" %></div>
          </div> 
        </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "新增", class: "btn btn-style" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });

  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'reply[number]'
  });

  $(document).ready(function (){
    var user_signed_in = <%= user_signed_in? %>
    if(sessionStorage["PopupShown-<%= @event.id %>"] != 'yes' && user_signed_in){ 
      $('#EventModalCenter').modal("show");
      e.preventDefault();
    }
  });

  $("#btnClose").click(function(e) {
    $('#EventModalCenter').modal("hide");
    e.preventDefault();
    sessionStorage["PopupShown-<%= @event.id %>"] = 'yes'; //Save in the sessionStorage if the modal has been shown
  });

  $(".datepicker").datepicker({
    format: "yyyy/mm/dd",
    autoclose: true,
    todayHighlight: true,
  });
  
  $(function () {
    var picker1 = $('#event_start_at').datepicker();
    var picker2 = $("#event_end_at").datepicker();
   
    //動態設置最小值(選擇前面一個日期後：後面一個日期不能小於前面一個)
     picker1.on('changeDate', function (e) {
      picker2.datepicker('setStartDate', e.date);
    });
    //動態設置最大值(選擇後面一個日期後：前面一個日期不能大於前面一個）
     picker2.on('changeDate', function (e) {
      picker1.datepicker('setEndDate', e.date);
    }); 
  });

</script>