<% if @detail.errors.any? %>
    <h2>We have some erroes here !</h2>
    <ul>
        <% @detail.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<div class="container">
    <div class="form-group">
      <%= form_for @detail,{ remote: true } do |f| %>
      <form>
        <table class="table">
        <tr>
             <th scope="row">
                 <%=t("detail.new.spot name")%>
             </th>
             <td>
                 <%= f.text_field :name %>
                 <%= f.hidden_field :schedule_id %>
                 <%= f.hidden_field :spot_id %>
                 <%= f.hidden_field :category_id %>
             </td>
         </tr>
         
         
       
         <tr>
             <th scope="row">
                 <%=t("detail.new.strat")%>
             </th>
             <td>
                 <%= f.time_select :strat_t, :combined => true, :default => Time.now.change(:hour => 06, :min => 00), :minute_interval => 15, :time_separator => "", :ampm => true%>
             </td>
         </tr>
         <tr>
             <th scope="row">
                 <%=t("detail.new.Hours")%>
             </th>
             <td>
                 <%= f.select :hr, options_for_select([*1..12],selected: @detail.hr), { prompt: "hours" },{:required => true,class:"form-control" }%>
             </td>
         </tr>
         <tr>
             <th scope="row">
                 <%=t("detail.new.content")%>
             </th>
             <td>
                 <%= f.text_area :content, placeholder: "140 character", maxlength: 140,rows: 3, class:"form-control",id:"message" %>
             </td>
         </tr>
        </table>
        <%= f.submit  class:"btn btn-primary btn-right" %>
      </form>
      <% end %>
    </div>
</div>